.ground-bg {
  width: 100%;
  min-height: 150px;
  background: url('../assets/city/other/ground.png') repeat;
}

.scrollable-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.background-image-clear-sky {
  background: url('../assets/weather/background/clear-sky.gif') no-repeat;
  background-size: cover;
  background-position: 25% 55%;
}

.background-image-rain {
  background: url('../assets/weather/background/rain.gif') no-repeat;
  background-size: cover;
  background-position: 25% 55%;
}

.background-image-snow {
  background: url('../assets/weather/background/snow.gif') no-repeat;
  background-size: cover;
  background-position: 25% 55%;
}

.scrollable-content {
  display: flex;
  flex-grow: 1;
}
